body {
  margin:0px;
  background-color:rgba(22, 155, 213, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:492px;
}
#u697 {
  position:absolute;
  left:181px;
  top:275px;
  width:277px;
  height:492px;
}
#u698 {
  position:absolute;
  left:2px;
  top:238px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u699 {
  position:absolute;
  left:336px;
  top:434px;
  width:35px;
  height:31px;
}
#u700 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701 {
  position:absolute;
  left:328px;
  top:465px;
  width:59px;
  height:22px;
}
#u702 {
  position:absolute;
  left:2px;
  top:3px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u703 {
  position:absolute;
  left:330px;
  top:469px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u705 {
  position:absolute;
  left:364px;
  top:434px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u706 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:73px;
}
#u707 {
  position:absolute;
  left:318px;
  top:423px;
  width:71px;
  height:73px;
}
#u708 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u709 {
  position:absolute;
  left:181px;
  top:155px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1573px;
  height:2px;
}
#u711 {
  position:absolute;
  left:136px;
  top:829px;
  width:1572px;
  height:1px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1573px;
  height:2px;
}
#u713 {
  position:absolute;
  left:136px;
  top:213px;
  width:1572px;
  height:1px;
}
#u714 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
  color:#FFFFFF;
}
#u715 {
  position:absolute;
  left:181px;
  top:243px;
  width:284px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
  color:#FFFFFF;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
  color:#FFFFFF;
}
#u717 {
  position:absolute;
  left:607px;
  top:243px;
  width:194px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
  color:#FFFFFF;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:492px;
}
#u720 {
  position:absolute;
  left:607px;
  top:275px;
  width:277px;
  height:492px;
}
#u721 {
  position:absolute;
  left:2px;
  top:238px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u722 {
  position:absolute;
  left:640px;
  top:487px;
  width:140px;
  height:28px;
}
#u723 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u724 {
  position:absolute;
  left:640px;
  top:491px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u726 {
  position:absolute;
  left:1025px;
  top:243px;
  width:96px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:1405px;
  top:477px;
  width:146px;
  height:44px;
}
#u729 {
  position:absolute;
  left:2px;
  top:14px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u730 {
  position:absolute;
  left:1386px;
  top:243px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u732 {
  position:absolute;
  left:1773px;
  top:243px;
  width:245px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:492px;
}
#u734 {
  position:absolute;
  left:1025px;
  top:275px;
  width:276px;
  height:492px;
}
#u735 {
  position:absolute;
  left:2px;
  top:238px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  position:absolute;
  left:1150px;
  top:605px;
  width:58px;
  height:29px;
}
#u737 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u738 {
  position:absolute;
  left:1156px;
  top:633px;
  width:47px;
  height:1px;
}
#u739 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u740 {
  position:absolute;
  left:1159px;
  top:613px;
  width:41px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:109px;
}
#u742 {
  position:absolute;
  left:1035px;
  top:350px;
  width:255px;
  height:109px;
}
#u743 {
  position:absolute;
  left:2px;
  top:46px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:492px;
}
#u744 {
  position:absolute;
  left:1386px;
  top:275px;
  width:277px;
  height:492px;
}
#u745 {
  position:absolute;
  left:2px;
  top:238px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:1421px;
  top:554px;
  width:70px;
  height:25px;
}
#u747 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:1425px;
  top:563px;
  width:57px;
  height:16px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:492px;
}
#u751 {
  position:absolute;
  left:1773px;
  top:275px;
  width:277px;
  height:492px;
}
#u752 {
  position:absolute;
  left:2px;
  top:238px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u753 {
  position:absolute;
  left:1841px;
  top:538px;
  width:149px;
  height:29px;
}
#u754 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u755 {
  position:absolute;
  left:1841px;
  top:546px;
  width:157px;
  height:12px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 77, 75, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  position:absolute;
  left:1885px;
  top:657px;
  width:86px;
  height:29px;
}
#u758 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u759 {
  position:absolute;
  left:1893px;
  top:663px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u760 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  position:absolute;
  left:1863px;
  top:577px;
  width:123px;
  height:29px;
}
#u762 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u763 {
  position:absolute;
  left:1865px;
  top:586px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u764 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:1863px;
  top:608px;
  width:123px;
  height:21px;
}
#u766 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u767 {
  position:absolute;
  left:1902px;
  top:611px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
}
#u769 {
  position:absolute;
  left:1938px;
  top:618px;
  width:29px;
  height:13px;
  font-size:10px;
  color:#FF0000;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:2px;
}
#u771 {
  position:absolute;
  left:1938px;
  top:625px;
  width:29px;
  height:1px;
}
#u772 {
  position:absolute;
  left:2px;
  top:-8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:14px;
  background:inherit;
  background-color:rgba(227, 240, 220, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:1871px;
  top:296px;
  width:94px;
  height:14px;
}
#u774 {
  position:absolute;
  left:2px;
  top:-1px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:1880px;
  top:295px;
  width:71px;
  height:16px;
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u777 {
  position:absolute;
  left:857px;
  top:484px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u778 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u779 {
  position:absolute;
  left:1628px;
  top:549px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u780 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:44px;
}
#u781 {
  position:absolute;
  left:610px;
  top:477px;
  width:274px;
  height:44px;
}
#u782 {
  position:absolute;
  left:2px;
  top:14px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
}
#u783 {
  position:absolute;
  left:1150px;
  top:605px;
  width:58px;
  height:29px;
}
#u784 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
}
#u785 {
  position:absolute;
  left:1386px;
  top:549px;
  width:277px;
  height:45px;
}
#u786 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:207px;
}
#u787 {
  position:absolute;
  left:1815px;
  top:513px;
  width:194px;
  height:207px;
}
#u788 {
  position:absolute;
  left:2px;
  top:96px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:148px;
}
#u789 {
  position:absolute;
  left:1017px;
  top:336px;
  width:295px;
  height:148px;
}
#u790 {
  position:absolute;
  left:2px;
  top:66px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
